/*
	CSS file for "Gallery" page.
*/

/*
	Colors
	======
	
	Header/Active Page Link/Footer :	#474747 gray
	Main Panel/Side Panel/Tweets Text:	#000080 navy blue
	Background/Tweet Box:				#add8e6 light blue
	Slogan:								#4169e1 royal blue
	Main Text/Nav Bar/Footer Border:	#dedede 
	Link Color:							#cecece
*/

#main_panel {
	position: relative;
	width: 1040px;
}

#main_panel p {
	text-align: center;
}

#returntotop {
	text-align: center;
}

.thumbnails img{
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover{
	border: 4px solid #00ccff;
	cursor:pointer;
}

.preview img{
	border: 4px solid #444;
	padding: 1px;
	height: 500px;
}

#gallerymini {
	width: 945px;
	margin-left: auto;
	margin-right: auto;
}

#gallerymini p {
	font-size: 22px;
}

#gallerymini a {
	color: #dedede;
	font-weight: bold;
}

#gallerymini a:hover {
	color: #4169e1;
}
